body {
	background-color: orange;
}

p {
	padding: 20px 20px 20px 20px;
	border: 5px solid blue;
}

img.magnet {
	display: block;
	margin: 0 auto 0 auto;
}

section {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/76/Ed_g2s_background.jpg");
}